<ion-view title="Login" id="page1">
    <ion-content padding="true" class="has-header">
        <form id="login-form1" class="list">
            <label class="item item-input" id="login-input1">
                <span class="input-label">Username</span>
                <input type="text" placeholder="">
            </label>
        </form>
        <form id="login-form2" class="list">
            <label class="item item-input" id="login-input2">
                <span class="input-label">Password</span>
                <input type="password" placeholder="">
            </label>
        </form>
        <a ui-sref="menu.home" id="login-button2" class="button button-positive  half">Login</a>
        <a ui-sref="menu.register" id="login-button3" class="button button-balanced  half">Register</a>
    </ion-content>
</ion-view>