<ion-view title="Register" id="page4">
    <ion-content padding="true" class="has-header">
        <form id="register-form3" class="list">
            <ion-list id="register-list2">
                <label class="item item-input" id="register-input3">
                    <span class="input-label">Name</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input" id="register-input4">
                    <span class="input-label">Username</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input" id="register-input5">
                    <span class="input-label">Password</span>
                    <input type="password" placeholder="">
                </label>
            </ion-list>
            <a ui-sref="menu.home" id="register-button4" class="button button-positive  button-block">Sign up</a>
        </form>
    </ion-content>
</ion-view>